/* Body styles */
body {
    background-color: #B3C8CF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #b6cbd2;
}

/* Navigation Bar */
.navbar {
    background-color: #89A8B2; /* Match the background color */
}

.navbar-nav .nav-link {
    color: white !important;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: darkblue!important; /* Light hover effect */
}

/* Logo styles */
.navbar-brand img, /* For homepage */
.logo img { /* For login page */
    height: 80px; /* Adjust the height for the enlarged logo */
    max-width: 100%;
}

/* Search Bar */
form input {
    border-radius: 50px; /* Rounded corners for search bar */
    border: 1px solid #ccc; /* Add border for better visibility */
    padding: 10px; /* Add padding for comfortable input */
}

form button {
    border-radius: 50px; /* Rounded corners for search button */
    background-color: #89A8B2; /* Match the navbar color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Adjust padding for better appearance */
    border: none; /* Remove default border */
}

form button:hover {
    background-color: #6c8891; /* Darken the button on hover */
}

/* Login Container Styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

/* Login Box Styles */
.login-box {
    background-color: #d9e6ec;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

/* Input Fields */
.login-box input[type="email"],
.login-box input[type="password"] {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* Submit Button Styles */
.login-box .btn {
    background-color: #89A8B2;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.login-box .btn:hover {
    background-color: #6c8891;
}

/* Social Login Button Styles */
.social-login {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.social-login button {
    width: 48%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.social-login button img {
    height: 20px;
    margin-right: 10px;
}

/* Link Styles */
.login-box a {
    color: #B3C8CF;
    text-decoration: none;
}

.login-box a:hover {
    color: #84989e;
    text-decoration: underline;
}
